@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@800&family=Roboto:wght@500;900&display=swap');

.accordion-wrapper {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(242, 243, 230);
    min-height: 100vh;
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    font-size: 24px;
}

.accordion {
    width: 90%;
    cursor: pointer;
    margin: 0.5em 0;
}

.accordion-header {
    padding: 0 2em;
}

.accordion-content {
    color: rgb(65, 105, 255);
}

.accordion-content:hover .accordion-item {
    color: rgb(0, 0, 0);
}

.accordion-item {
    padding: 0 2em;
    font-size: 1em;
}

.accordion-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordion-title .accordion-choose-group {
    display: flex;
}

.accordion-title .accordion-choose-group .not-show {
    transform: translateX(100%);
}

.accordion-data:hover ~ .accordion-data {
    display: flex;
    transition-delay: 1s;
    transform: scale(1);
    transition: 0.5s;
}

.accordion-title .accordion-choose-group img {
    width: 1em;
    height: 1em;
    visibility: hidden;
}

.accordion-data {
    align-items: center;
    justify-content: center;
    display: flex;
    transform: scale(1);
    transition: 0.8s;
}

.accordion-data img {
    width: 30%;
    transform: scale(0);
}

.accordion-data div {
    width: 1em;
    height: 1em;
    border: 1px solid;
    border-radius: 50%;
    margin-left: 1%;
}

input[type="radio"] {
    visibility: hidden;
}

.accordion-item .accordion-item-label > input[type="radio"] ~ .accordion-data img {
    height: 0;
    overflow: hidden;
}

.accordion-item .accordion-item-label > input[type="radio"] ~ .accordion-title img {
    visibility: hidden;
}

.accordion-item .accordion-item-label > input[type="radio"]:checked ~ .accordion-data img {
    transform: scale(1);
    transition: .3s ease all;
    height: 20%;
    overflow: visible;
    padding: 5% 0;
}

.accordion-item .accordion-item-label > input[type="radio"]:checked ~ .accordion-title {
    color: rgb(0, 0, 0);
}

.accordion-item .accordion-item-label > input[type="radio"]:checked ~ .accordion-title .not-show {
    visibility: hidden;
}

.accordion-item .accordion-item-label {
    cursor: pointer;
}

.accordion-item .accordion-item-label:hover > input[type="radio"] ~ .accordion-title .show {
    visibility: visible;
}

.accordion-item .accordion-item-label:hover > input[type="radio"] ~ .accordion-title .not-show {
    visibility: hidden;
}

.accordion-content:hover input[type="radio"] ~ .accordion-title .not-show {
    visibility: visible;
}

.accordion-content:hover input[type="radio"]:checked ~ .accordion-title .show {
    visibility: visible;
}

.accordion-item .accordion-item-label:hover > input[type="radio"] ~ .accordion-data img {
    height: 20%;
    overflow: visible;
    transform: scale(1);
    transition: .8s ease all;
    padding: 5% 0;
}

